<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Stage Finder{% endblock %}</title>
{% block css %}
<link rel="stylesheet" href="/assets/style-stage.css">
{% endblock %}
</head>
<body>
<div class="page">
    <header>
        <a href="/?uri=cherche-stage" class="logo">
            <div class="logo-icon">SF</div>
            <span class="logo-name">Stage Finder</span>
        </a>
        <nav>
            <a href="/?uri=cherche-stage" class="{% if uri == 'cherche-stage' or uri == 'home' %}active{% endif %}">Accueil</a>
            <a href="/?uri=stages" class="{% if uri == 'stages' %}active{% endif %}">Stages</a>
            <a href="/?uri=entreprises" class="{% if uri == 'entreprises' %}active{% endif %}">Entreprises</a>

            
            {% if session_user and session_user.role in ['admin', 'pilote'] %}
                <a href="/?uri=entreprise_create" class="{% if uri == 'entreprise_create' %}active{% endif %}">Gestion entreprise</a>
            {% endif %}

            {% if session_user and session_user.role in ['admin', 'pilote'] %}
                <a href="/?uri=etudiant_list" class="{% if uri == 'etudiant_list' %}active{% endif %}"> Gestion Étudiants</a>
            {% endif %}

            {# Admin seulement : gestion pilotes #}
            {% if session_user and session_user.role == 'admin' %}
                <a href="/?uri=pilote_list" class="{% if uri == 'pilote_list' %}active{% endif %}">Gestion Pilotes</a>
            {% endif %}

            <a href="/?uri=nous" class="{% if uri == 'nous' %}active{% endif %}">À propos</a>
        </nav>
        <div class="hdr-btns">
            {% if session_user %}
                <a href="/?uri=profil" class="btn btn-outline {% if uri == 'profil' %}active{% endif %}">
                    {{ session_user.prenom }} {{ session_user.nom }}
                </a>
                <a href="/?uri=logout" class="btn btn-fill">Se déconnecter</a>
            {% else %}
                <a href="/?uri=login" class="btn btn-outline">Se connecter</a>
                <a href="/?uri=register" class="btn btn-fill">Créer un compte</a>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>© 2026 Stage Finder. Tous droits réservés.</p>
        <div class="foot-links">
            <a href="/?uri=mentions">Mentions légales</a>
        </div>
    </footer>
</div>
</body>
</html>
