<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="/assets/connexion.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
    <div class="login-card">
    <div class="back-btn-container">
        <a href="/?uri=home" class="btn-back">
            ← Retour
        </a>
    </div>

            <h1>Connexion</h1>

            <form>
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" placeholder="Votre email">
                </div>

                <div class="input-group">
                    <label>Mot de passe</label>
                    <input type="password" placeholder="Votre mot de passe">
                </div>

                <div class="options">
                    <label>
                        <input type="checkbox">
                        Se souvenir de moi
                    </label>
                    <a href="#">Mot de passe oublié ?</a>
                </div>

                <button type="submit" class="btn-primary">Se connecter</button>

                <p class="register">
                    Pas encore de compte ? <a href="/?uri=register">Créer un compte</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
